{% extends 'core/base.html' %}

{% block title %}À propos de nous - DFD{% endblock %}

{% block content %}
<h1>Blog / Actualités</h1>

<section>
    <article>
        <h2>Retour sur la journée mondiale de la solidarité</h2>
        <p>Publié le 2 mai 2025</p>
        <p>Une centaine de bénévoles se sont mobilisés pour organiser des activités solidaires dans 3 villes. Un moment
            fort de partage et d'engagement.</p>
    </article>

    <article>
        <h2>DFD lance un programme éducatif au Niger</h2>
        <p>Publié le 12 avril 2025</p>
        <p>Ce programme vise à équiper 500 enfants en fournitures scolaires et à former des enseignants communautaires.
        </p>
    </article>

    <article>
        <h2>Témoignage : "Être bénévole m’a transformée"</h2>
        <p>Publié le 28 mars 2025</p>
        <p>Dans cet article, Aïssatou, bénévole depuis 2022, partage son expérience et les raisons de son engagement.
        </p>
    </article>
</section>

{% endblock %}