{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}{% trans "Accueil - DFD" %}{% endblock %}

{% block content %}
{% load static %}



<section class="banniere-principale">
    <h1>{% trans "LA MAIN TENDUE, UN SOURIRE NOUVEAU." %}</h1>
</section>

<!-- Conteneur flex -->

<div class="banniere-row">

    <section class="banniere-inspirante">
        <video class="video-slide" width="800" height="450" controls autoplay muted loop>
            <source src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/video-nathan.mp4' %}" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
    </section>

    <section class="Nom-de-lassociation">
        <img src="{% static 'images/logo/logo simple (1).png' %}" alt="Logo DFD" style="width: 600px;">
        <h1>Dreams Family of Development (DFD)</h1>
    </section>
</div>




<section class="presentation">
    <h1 class="main-title">Qui sommes-nous ?</h1>
    <p>DFD (Dreams Family of Development) est une
        association humanitaire engagée auprès des communautés vulnérables.
        Nous croyons que chaque rêve mérite d’être soutenu et transformé en projet
        concret.

        À travers nos actions sur le terrain, nos formations, et notre réseau solidaire,
        nous œuvrons pour un monde plus juste, plus humain, et plus durable.</p>
    <a href="{% url 'apropos' %}#membre" class="btn">En savoir plus</a>
</section>


<section class="mot-du-president">
    <h1 class="main-title">Mot du président fondateur</h1>
    <div class="bloc-president">
        <div class="texte-president">
            <p>
                Face aux défis majeurs tels que la pauvreté, les crises sanitaires, l’inégalité, l’insécurité
                alimentaire ou encore la déscolarisation, le Cameroun s’engage dans la recherche de solutions innovantes
                pour améliorer le bien-être de sa population, en mobilisant ses institutions, les ONG et la société
                civile.
            </p>
            <p>Dans cette dynamique, Dreams Family of Development (DFD) se positionne comme un acteur clé, œuvrant pour
                le bien-être holistique de l’Homme à travers une assistance physique, mentale et sociale.</p>
            <p>Pour mener à bien sa mission, DFD collabore avec divers partenaires pour proposer des actions concrètes :
                campagnes de santé, dons, accompagnement psychologique, sensibilisations, promotion de la scolarisation
                et de l’autonomisation.</p>
            <p>Par nos actions, nous voulons redonner espoir, améliorer les conditions de vie et contribuer à bâtir un
                avenir plus épanoui et prospère pour tous.</p>
            <p><strong>Bienvenue sur notre site internet et bonne visite !</strong></p>
        </div>
        <div class="photo-president">
            <img src="{% static 'images/Nathan.PNG' %}" alt="Président" />
            <p class="nom-president">Nathanaël Toukea<br><span>Président fondateur DFD </span></p>
        </div>
    </div>
</section>



<section class="galerie">
    <h1 class="main-title">Nos actions en images</h1>

    <div class="slider-container">
        <button class="prev">&#10094;</button>
        <div class="slider">
            <div class="slides">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/Untitled design(2).png' %}" class="slide"
                    alt="Image 1">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/dc42344c-7d17-4cc1-ac9c-89312e874266(1).JPG' %}"
                    class="slide" alt="Image 2">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/PHOTO-2024-12-29-17-29-55.jpg' %}"
                    class="slide" alt="Image 3">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/e2e49797-b94c-4314-bbc2-eec4e5456a0e.JPG' %}"
                    class="slide" alt="Image 5">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/d34bb1ba-a3f1-4b53-8ae8-de8225b9e89d.JPG' %}"
                    class="slide" alt="Image 6">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/PHOTO-2024-12-29-17-30-45.jpg' %}"
                    class="slide" alt="Image 8">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/PHOTO-2024-12-29-17-30-45 2.jpg' %}"
                    class="slide" alt="Image 9">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/PHOTO-2025-01-06-19-40-44.jpg' %}"
                    class="slide" alt="Image 10">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/Untitled design(1).png' %}" class="slide"
                    alt="Image 11">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/f07e9412-78ff-45a1-97c6-aa337478a542.jpg' %}"
                    class="slide" alt="Image 12">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/PHOTO-2024-12-29-17-31-06.jpg' %}"
                    class="slide" alt="Image 13">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/Untitled design.png' %}" class="slide"
                    alt="Image 14">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/dc42344c-7d17-4cc1-ac9c-89312e874266.JPG' %}"
                    class="slide" alt="Image 15">
                <img src="{% static 'images/Photo-DFD-Foyer/Photo-DFD-Foyer/PHOTO-2024-12-29-17-29-54.jpg' %}"
                    class="slide" alt="Image 16">
            </div>
        </div>
        <button class="next">&#10095;</button>
    </div>



    <div class="video-slider-container">
        <button class="video-prev">&#10094;</button>
        <div class="video-slider">
            <div class="video-slides">
                <video class="video-slide" width="800" height="450" controls autoplay muted loop>
                    <source src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/VIDEO-2024-12-31-13-08-20.mp4' %}"
                        type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
                <video class="video-slide" width="800" height="450" controls autoplay muted loop>
                    <source
                        src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/cc45e01d-5b01-449e-8636-b2a37fa954c3.MP4' %}"
                        type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
                <video class="video-slide" width="800" height="450" controls autoplay muted loop>
                    <source src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/VIDEO-2024-12-30-22-37-57.mp4' %}"
                        type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
                <video class="video-slide" width="800" height="450" controls autoplay muted loop>
                    <source src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/VIDEO-2024-12-31-12-32-04.mp4' %}"
                        type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
                <video class="video-slide" width="800" height="450" controls autoplay muted loop>
                    <source
                        src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/0e8ae407-5e72-4a2a-bf7a-ea576944dd81.MP4' %}"
                        type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
                <video class="video-slide" width="800" height="450" controls autoplay muted loop>
                    <source src="{% static 'images/Photo-DFD-Foyer/Video-DFD-foyer/VIDEO-2024-12-30-22-39-15.mp4' %}"
                        type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
                <!-- Ajoute d'autres vidéos ici -->
            </div>
        </div>
        <button class="video-next">&#10095;</button>
    </div>
    <p> Images de la descente au Foyer de l'espérence à Yaounde le 29/12/2024</p>
</section>


<section class="temoignages">
    <h1 class="main-title">Témoignages</h1>
    <blockquote>
        <p>"Grâce à DFD, mes enfants vont enfin à l’école." — Awono christelle</p>
    </blockquote>
    <blockquote>
        <p>"Un vrai changement dans notre orphelinat depuis leur arrivée." — Kenfack, directrice orphelina St-Joseph</p>
    </blockquote>
</section>

<section class="partenaires">
    <h1 class="main-title">Nos partenaires</h1>
    <div class="partenaire-grid">


        <a class="partenaire-bloc" href="https://www.croix-rouge.fr" target="_blank" rel="noopener noreferrer"
            text-decoration=none !important>
            <div class="description">
                <h3>Croix-Rouge</h3>
                <p>La Croix-Rouge soutient nos actions humanitaires et sociales à travers des dons et des collaborations
                    sur le terrain.</p>
            </div>
            <div class="logo">
                <img src="/static/images/icons/croixrouge.png" alt="Croix-Rouge">
            </div>
        </a>

        <a class="partenaire-bloc" href="https://www.unicef.org" target="_blank" rel="noopener noreferrer">
            <div class="description">
                <h3>UNICEF</h3>
                <p>L'UNICEF accompagne nos projets liés à l'enfance et à l'éducation, en fournissant des ressources et
                    du soutien logistique.</p>
            </div>
            <div class="logo">
                <img src="/static/images/icons/unicef.png" alt="UNICEF">
            </div>
        </a>



        <a class="partenaire-bloc" href="https://www.msomame.org/" target="_blank" rel="noopener noreferrer">
            <div class="description">
                <h3> MSO MAME</h3>
                <p>L’Association poursuit, sans but lucratif, des objectifs civiques, solidaires et d’utilité
                    sociale
                    pour honorer la mémoire de Maman Djommou Colette, en promouvant et en soutenant des projets de
                    coopération au développement dans des contextes défavorisés du Cameroun, avec une attention
                    particulière portée au quartier HÀ à Bandjoun. Elle soutient des initiatives dans les domaines
                    de la
                    santé, de l’éducation, des inégalités de genre, de la formation et de l’économie, dans le
                    respect
                    des besoins exprimés par les populations locales.
                    L’Organisation s’engage également à promouvoir en Italie et ailleurs des réflexions, actions et
                    comportements en faveur de la construction d’une société responsable et ouverte, dans le respect
                    de
                    la Déclaration Universelle des Droits de l’Homme.</p>
            </div>
            <div class="logo">
                <img src="/static/images/icons/WhatsApp Image 2025-05-20 at 09.40.11.jpeg" alt="MSO MAME">
            </div>
        </a>


        <!-- Ajoute plus de blocs ici si besoin -->
    </div>
</section>


<section class="presentation-section">
    <h1 class="main-title">Rejoignez notre communauté</h1>

    <div class="presentation-block">
        <div class="content left">
            <div class="text">
                <h2>Membres adhérents</h2>
                <p>Les membres adhérents sont généralement les membres actifs de l'association par leur participation
                    régulière aux activités de la DFD. Ils contribuent à la réalisation de ses projets et pourraient se
                    constituer candidats aux postes de responsabilité.</p>
            </div>
            <div class="image">
                <img src="/static/images/Brinda.PNG" alt="Adhérents">
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'participer' %}#membre" class="btn">Devenir membre adhérent</a>
        </div>
    </div>

    <div class="presentation-block">
        <div class="content right">
            <div class="image">
                <img src="/static/images/Gallus.PNG" alt="Bénévoles">
            </div>
            <div class="text">
                <h2>Membres bénévoles</h2>
                <p>Ils apportent leur soutien dans des domaines variés selon les besoins de l’association. Ils servent
                    de
                    support aux équipes permanentes et aux responsables lors des missions précises.</p>
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'participer' %}#membre" class="btn">Devenir bénévole</a>
        </div>
    </div>

    <div class="presentation-block">
        <div class="content left">
            <div class="text">
                <h2>Membres partenaires</h2>
                <p>Les membres partenaires sont des personnes morales ou des organisations qui soutiennent
                    l'association,
                    souvent de manière financière ou par des services en nature.</p>
            </div>
            <div class="image">
                <img src="/static/images/Irma.PNG" alt="Partenaires">
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'participer' %}#don" class="btn">Devenir Partenaire</a>
        </div>
    </div>
</section>





{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const images = [
            "{% static 'images/bannière/PHOTO-2024-12-29-17-30-47.jpg' %}",
            "{% static 'images/bannière/PHOTO-2024-12-29-17-30-48.jpg' %}",
            "{% static 'images/bannière/PHOTO-2024-12-29-17-31-06.jpg' %}",
            "{% static 'images/bannière/PHOTO-2025-01-06-19-34-50.jpg' %}",
            "{% static 'images/bannière/PHOTO-2025-01-06-19-34-52.jpg' %}",
            "{% static 'images/bannière/PHOTO-2025-01-06-19-34-57.jpg' %}"
        ];
        let index = 0;
        const banner = document.querySelector('.banniere-principale');

        function changeBackground() {
            banner.style.backgroundImage = `url(${images[index]})`;
            index = (index + 1) % images.length;
        }

        changeBackground();
        setInterval(changeBackground, 5000);
    });
</script>



<script>
    const slides = document.querySelector('.slides');
    const images = document.querySelectorAll('.slide');
    const totalSlides = images.length;
    const slideWidth = 800; // largeur des images
    let index = 0;

    document.querySelector('.next').addEventListener('click', () => {
        index = (index + 1) % totalSlides;
        slides.style.transform = `translateX(-${index * slideWidth}px)`;
    });

    document.querySelector('.prev').addEventListener('click', () => {
        index = (index - 1 + totalSlides) % totalSlides;
        slides.style.transform = `translateX(-${index * slideWidth}px)`;
    });
</script>


<script>
    const videoSlides = document.querySelector('.video-slides');
    const videos = document.querySelectorAll('.video-slide');
    const totalVideos = videos.length;
    const videoWidth = 800;
    let videoIndex = 0;

    document.querySelector('.video-next').addEventListener('click', () => {
        videoIndex = (videoIndex + 1) % totalVideos;
        videoSlides.style.transform = `translateX(-${videoIndex * videoWidth}px)`;
    });

    document.querySelector('.video-prev').addEventListener('click', () => {
        videoIndex = (videoIndex - 1 + totalVideos) % totalVideos;
        videoSlides.style.transform = `translateX(-${videoIndex * videoWidth}px)`;
    });
</script>

{% endblock %}
{% endblock %}