{% extends 'core/base.html' %}

{% block title %}Contact - DFD{% endblock %}

{% block content %}
{% load i18n %}


<section class="partenaires">
    <h1 class="main-title">Nos partenaires</h1>
    <div class="partenaire-grid">


        <a class="partenaire-bloc" href="https://www.croix-rouge.fr" target="_blank" rel="noopener noreferrer">
            <div class="description">
                <h3>Croix-Rouge</h3>
                <p>La Croix-Rouge soutient nos actions humanitaires et sociales à travers des dons et des collaborations
                    sur le terrain.</p>
            </div>
            <div class="logo">
                <img src="/static/images/icons/croixrouge.png" alt="Croix-Rouge">
            </div>
        </a>

        <a class="partenaire-bloc" href="https://www.unicef.org" target="_blank" rel="noopener noreferrer">
            <div class="description">
                <h3>UNICEF</h3>
                <p>L'UNICEF accompagne nos projets liés à l'enfance et à l'éducation, en fournissant des ressources et
                    du soutien logistique.</p>
            </div>
            <div class="logo">
                <img src="/static/images/icons/unicef.png" alt="UNICEF">
            </div>
        </a>



        <a class="partenaire-bloc" href="https://www.msomame.org/" target="_blank" rel="noopener noreferrer">
            <div class="description">
                <h3> MSO MAME</h3>
                <p>L’Association poursuit, sans but lucratif, des objectifs civiques, solidaires et
                    d’utilité
                    sociale
                    pour honorer la mémoire de Maman Djommou Colette, en promouvant et en soutenant des projets de
                    coopération au développement dans des contextes défavorisés du Cameroun, avec une attention
                    particulière portée au quartier HÀ à Bandjoun. Elle soutient des initiatives dans les domaines
                    de la
                    santé, de l’éducation, des inégalités de genre, de la formation et de l’économie, dans le
                    respect
                    des besoins exprimés par les populations locales.
                    L’Organisation s’engage également à promouvoir en Italie et ailleurs des réflexions, actions et
                    comportements en faveur de la construction d’une société responsable et ouverte, dans le respect
                    de
                    la Déclaration Universelle des Droits de l’Homme.</p>
            </div>
            <div class="logo">
                <img src="/static/images/icons/WhatsApp Image 2025-05-20 at 09.40.11.jpeg" alt="MSO MAME"
                    style="width: 100px">
            </div>
        </a>

        <a class="partenaire-bloc" href="https://www.unicef.org" target="_blank" rel="noopener noreferrer">
            <div class="description">
                <h3>Club des Enfants Joyeux</h3>
                <p>Le Club des Enfants Joyeux est une association à but non lucratif qui œuvre pour offrir à chaque
                    enfant, quelle que soit sa situation sociale ou économique, les mêmes chances de s’épanouir, de
                    sourire et de grandir dans la joie. Nous croyons que l’équité commence dès l’enfance : là où
                    certains manquent de ressources, de soutien ou d’amour, nous intervenons pour rétablir un équilibre,
                    par des actions concrètes, ludiques et bienveillantes. Qu’ils soient démunis, orphelins ou
                    marginalisés, nous agissons pour que tous les enfants aient, eux aussi, droit à une enfance pleine
                    de rires, d’attention et de dignité.</p>
            </div>
            <div class="logo">
                <img src="/static/images/logo/LOGO CEJ/LOGO CEJ.png" alt="Club des Enfants Joyeux" style="width: 200px">
            </div>
        </a>
        <!-- Ajoute plus de blocs ici si besoin -->
    </div>
</section>



{% endblock %}