# Configuration Django
SECRET_KEY=votre_clé_secrète_très_longue_et_aléatoire
DEBUG=False
ALLOWED_HOSTS=association-dfd.onrender.com,localhost,127.0.0.1

# Configuration Email
EMAIL_HOST_USER=votre_email@gmail.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe_app_gmail

# Base de données (optionnel pour PostgreSQL)
# DATABASE_URL=postgresql://user:pass@host:port/dbname
